# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Database
unitrack.db

# Flask / instance
instance/

# Migrations cache
migrations/__pycache__/
migrations/versions/__pycache__/

# OS
.DS_Store
Thumbs.db